/*Fonts*/

$roboto: "Roboto", sans-serif; //main font

/*Colors*/
$orange: #ff871d; //buttons and highlights
$darkgray: #2d2d2d; //header
$white: #fff; //background
$black: #000;
$lightgrey: #767676; //crossed fonts

/*Borders*/
$borderRadius: 0.3rem; //buttons
$grey: #c4c1c1; //inputs

/*Shadows*/
$buttonshadow: 1px 1px 5px #888888;
